@page "/managers/{stringId}"
@inherits ManagerModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        @if (stringId == "new")
        {
            <EditForm Model="@ViewModel" OnValidSubmit="SaveAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <h1>Новый менеджер</h1>

                <label for="lastName">Фамилия</label>
                <InputText id="lastName" @bind-Value="@ViewModel.LastName" class="form-control" />

                <label for="firstName">Имя</label>
                <InputText id="firstName" @bind-Value="@ViewModel.FirstName" class="form-control" />

                <label for="email">Email</label>
                <InputText id="email" @bind-Value="@ViewModel.Email" class="form-control" />

                <label for="login">Логин</label>
                <InputText id="login" @bind-Value="@ViewModel.Login" class="form-control" />

                <label for="password">Пароль</label>
                <InputText id="password" @bind-Value="@ViewModel.Password" class="form-control" type="password" />

                <label for="roleId">Роль</label>
                <InputSelect id="roleId" @bind-Value="@ViewModel.RoleId" class="form-control">
                    @if (ViewModel.RoleId is null)
                    {
                        <option value="">Нет</option>
                    }

                    @foreach (var role in Roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </InputSelect>
                <p class="my-4">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </p>
            </EditForm>
        }
        else if (int.TryParse(stringId, out Id) && ViewModel.FirstName != null)
        {
            <EditForm Model="@ViewModel" OnValidSubmit="SaveAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <h1>Редактирование менеджера</h1>

                <label for="lastName">Фамилия</label>
                <InputText id="lastName" @bind-Value="@ViewModel.LastName" class="form-control" />

                <label for="firstName">Имя</label>
                <InputText id="firstName" @bind-Value="@ViewModel.FirstName" class="form-control" />

                <label for="email">Email</label>
                <InputText id="email" @bind-Value="@ViewModel.Email" class="form-control" />

                <label for="login">Логин</label>
                <InputText id="login" @bind-Value="@ViewModel.Login" class="form-control" />

                <label for="password">Пароль</label>
                <InputText id="password" @bind-Value="@ViewModel.Password" class="form-control" type="password" />

                <label for="roleId">Роль</label>
                <InputSelect id="roleId" @bind-Value="@ViewModel.RoleId" class="form-control">
                    @if (ViewModel.RoleId is null)
                    {
                        <option value="">Нет</option>
                    }

                    @foreach (var role in Roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </InputSelect>
                <p class="my-4">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </p>
            </EditForm>
        }
        else
        {
            <Redirect Path="/managers" />
        }
    </div>
</div>


@code {
    [Parameter]
    public string stringId { get; set; }
    public int Id;

    public List<Role> Roles;

    protected override void OnInitialized()
    {
        Roles = DataAccess.GetRoles();

        int.TryParse(stringId, out Id);
        if (Id != 0)
            ViewModel.Manager = DataAccess.GetManager(Id);
    }

}
