@inject NavigationManager NavigationManager
@inject IModalService ModalService



<div class="row text-center">
    <div class="col">
        <div class="row">
            <label class="col" for="name">Наименование</label>
            <span class="col">@Tour.Name</span>
        </div>
        <div class="row">
            <label class="col" for="hotel">Отель</label>
            <span class="col">@Tour.Hotel?.Name</span>
        </div>
        <div class="row">
            <label class="col" for="country">Страна</label>
            <span class="col">@Tour.Hotel?.City?.Country?.Name</span>
        </div>
        <div class="row">
            <label class="col" for="city">Город</label>
            <span class="col">@Tour.Hotel?.City?.Name</span>
        </div>
        <div class="row">
            <label class="col" for="departureDate">Дата отправления</label>
            <span class="col">@(Tour.DepartureDate.ToShortDateString())</span>
        </div>
        <div class="row">
            <label class="col" for="arrivalDate">Дата прибытия</label>
            <span class="col">@(Tour.ArrivalDate.ToShortDateString())</span>
        </div>
        <div class="row">
            <label class="col" for="price">Цена</label>
            <span class="col">@Tour.Price</span>
        </div>
        <div class="row">
            <label class="col" for="isVisaNeeded">Необходимость визы</label>
            <span class="col">@(Tour.IsVisaNeeded? "Нужна": "Не нужна")</span>
        </div>
    </div>
</div>


<div class="row">

    <button class="btn btn-info col mx-4" @onclick=EditClick>Редактировать</button>
    <button class="btn btn-danger col mx-4" @onclick=DeleteClick>Удалить</button>
</div>

@code {
    [Parameter]
    public Tour Tour { get; set; }

    public void EditClick()
    {
        NavigationManager.NavigateTo($"tours/{Tour.Id}");
    }

    public void DeleteClick()
    {
        var parameters = new ModalParameters()
        .Add(nameof(DeleteTour.Tour), Tour);

        ModalService.Show<DeleteTour>("", parameters);
        //DataAccess.DeleteTour(Tour);
        //NavigationManager.NavigateTo($"tours", true);
    }

}
