@page "/"
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IModalService ModalService
@inject IJSRuntime JS
@inject IClipboardService ClipboardService

<PageTitle>Пароли</PageTitle>

<div class="@PasswordsDeleteVisibility">
    <span>@CountForDelete</span>
    <div class="ms-auto">
        <button type="button" @onclick="@(ShowDeleteModal)" class="btn btn-secondary">
            <span class="flex-row">
                
                <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" version="1.1" class="ui-components-1mdtk1p"><path d="M6 3.5V2H14V3.5H6Z"></path><path d="M17 6.5V5H3V6.5H4V18H13L12 16.5H5.5V6.5H14.5V18H16V6.5H17Z"></path><path d="M12.5 9H11V14L12.5 13V9Z"></path><path d="M9 9H7.5V14L9 13V9Z"></path></svg>
                Удалить
            </span>
            </button>
    </div>
</div>


<button class="btn btn-primary" @onclick=@(NewLoginClick)>
    Добавить
</button>

<div class="card m-3 table-briefs border-0">
    <div class="card-body m-2">
        <table class="tours-table">
            <thead>
                <tr>
                    <th></th>
                    <th>ITEM NAME</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var login in LoginsList)
                {
                    
                    <tr>
                        <td><input type="checkbox" @onclick="@(() => AddToRemoveList(login))"> </td>
                        <td @onclick="@(() => OnRowClick(login))" width="500px">@login.website</td>
                        <td>
                            <div class="action-container">
                                <button>
                                        Открыть страницу
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button @onclick="@(() => ShowDropDown(login.id))" class="dropbtn">...</button>
                                <div id="myDropdown @login.id" class="dropdown-content">
                                    <button @onclick="@(() => OnRowClick(login))">Подробнее</button>
                                    <button @onclick="@(() => CopyUsername(login.username))">Скопировать пользователя</button>
                                    <button @onclick="@(() => CopyUsername(login.password))">Скопировать пароль</button>
                                    <button @onclick="@(() => OpenInNewTab(login.website))">Открыть сайт</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public List<Login> LoginsList = DataAccess.GetUserLogins(DataAccess.CurrentUser.id);

    public List<Login> LoginsForDelete = new List<Login>();

    private string CountForDelete;

    private bool state = true;

    private string PasswordsDeleteVisibility => state ? "passwords-delete" : "passwords-delete visible";

    private void ChangeVisibility()
    {
        state = !state;
    }

    public void NewLoginClick()
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Medium
            };
        var parameters = new ModalParameters()
        .Add(nameof(Password.AddPasswordModal.Login), new Login());
        ModalService.Show<Password.AddPasswordModal>("Добавить новые данные", parameters, options);
    }

    public void OnRowClick(Login login)
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Medium
            };
        var parameters = new ModalParameters()
        .Add(nameof(Password.AddPasswordModal.Login), login);
        ModalService.Show<Password.AddPasswordModal>(login.item_name.ToString(), parameters, options);
    }

    private async Task ShowDropDown(int id)
    {
        await JS.InvokeVoidAsync("showDropDown", id);
    }

    private async Task CopyUsername(string Text)
    {
        await ClipboardService.CopyToClipboard(Text);
    }

    private void AddToRemoveList(Login login)
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Medium
            };
        if (LoginsForDelete.Contains(login))
            LoginsForDelete.Remove(login);
        else
            LoginsForDelete.Add(login);
        if(LoginsForDelete.Count() != 0)
        {
            state = false;
            CountForDelete = "Выбрано " + LoginsForDelete.Count() + " паролей";
        }
        else
        {   
            state = true;
        }
    }

    private async Task OpenInNewTab(string url)
    {
        await JS.InvokeVoidAsync("openInNewTab", url);
    }

    public void ShowDeleteModal()
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Medium
            };
        var parameters = new ModalParameters()
        .Add(nameof(Password.DeletePasswordsModal.Logins), LoginsForDelete);
        ModalService.Show<Password.DeletePasswordsModal>($"Удалить навсегда {LoginsForDelete.Count()} паролей?", parameters, options);
    }


    
}
